[user]
    email = sirosen@globus.org
    name = Stephen Rosen
    signingkey = FC694E40DC03A8B702D96372CF7E843C41E814C9
[push]
    autoSetupRemote = true
[pull]
	ff = only
[core]
	excludesfile = ~/.gitignore_global
[alias]
    tree = log --graph --decorate --all
    unstage = restore --staged .
    forget = checkout -- .
    conflicts = diff --name-only --diff-filter=U
    pr-nonews = "!gh pr create --label no-news-is-good-news"
    pr-v4 = "!gh pr create -B 4.x-dev"
    pr-v4-nonews = "!gh pr create -B 4.x-dev --label no-news-is-good-news"
    logdiff = "!f () { \
      base=\"$1\"; \
      [ -n \"$base\" ] || base=main; \
      git diff HEAD $(git merge-base HEAD \"$base\") > logdiff.diff ; \
    }; f"
[init]
	defaultBranch = main
[blame]
#	ignoreRevsFile = .git-blame-ignore-revs
