[user]
    email = sirosen@globus.org
    name = Stephen Rosen
    signingkey = FC694E40DC03A8B702D96372CF7E843C41E814C9
[push]
	default = simple
[pull]
	ff = only
[core]
	excludesfile = /mnt/ebs/home/sirosen/.gitignore_global
[alias]
    tree = log --graph --decorate --all
    pr-checkout = "!f () { \
      remote=\"$2\" ; \
      [ -n \"$remote\" ] || remote=upstream ; \
      git fetch $remote pull/$1/head ; \
      git checkout FETCH_HEAD ; \
    }; f"
    sc = "!./etc/modify-adoc.py CHANGELOG.adoc; git add CHANGELOG.adoc; git commit -v"
[init]
	defaultBranch = main
[blame]
#	ignoreRevsFile = .git-blame-ignore-revs
